<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.CLIENT_WINDOW_MODE</param-name>
        <param-value>url</param-value>
    </context-param>
    <servlet>
        <servlet-name>testJSP_saveUser</servlet-name>
        <servlet-class>goOffer.servlets.testJSP_saveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_company_overview</servlet-name>
        <servlet-class>goOffer.servlets.servlet_company_overview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_company_addJob</servlet-name>
        <servlet-class>goOffer.servlets.servlet_company_addJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_company_deleteJob</servlet-name>
        <servlet-class>goOffer.servlets.servlet_company_deleteJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>testJSP_saveUser</servlet-name>
        <url-pattern>/testJSP_saveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_company_overview</servlet-name>
        <url-pattern>/servlet_company_overview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_company_addJob</servlet-name>
        <url-pattern>/servlet_company_addJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_company_deleteJob</servlet-name>
        <url-pattern>/servlet_company_deleteJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <!--<welcome-file>faces/jsf_register.xhtml</welcome-file>-->
        <!--<welcome-file>faces/jsf_company_overview.xhtml</welcome-file>-->
        <!--<welcome-file>faces/jsf_user_overview.xhtml</welcome-file>-->
        <welcome-file>faces/jsf_user_login.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
